<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyTask</display-name>
  <welcome-file-list>
    <welcome-file>dashboard.html</welcome-file>
    <welcome-file>dashboard.jsp</welcome-file>
    <welcome-file>dashboard.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.Mytask.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Mytask.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Mytask.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollection</display-name>
    <servlet-name>AddCollection</servlet-name>
    <servlet-class>com.Mytask.controller.AddCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollection</servlet-name>
    <url-pattern>/AddCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicLink</display-name>
    <servlet-name>DynamicLink</servlet-name>
    <servlet-class>com.Mytask.controller.DynamicLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicLink</servlet-name>
    <url-pattern>/DynamicLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTask</display-name>
    <servlet-name>AddTask</servlet-name>
    <servlet-class>com.Mytask.controller.AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTask</servlet-name>
    <url-pattern>/AddTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollection</display-name>
    <servlet-name>DeleteCollection</servlet-name>
    <servlet-class>com.Mytask.controller.DeleteCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollection</servlet-name>
    <url-pattern>/DeleteCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTask</display-name>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>com.Mytask.controller.DeleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/DeleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteTask</display-name>
    <servlet-name>CompleteTask</servlet-name>
    <servlet-class>com.Mytask.controller.CompleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTask</servlet-name>
    <url-pattern>/CompleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTask</display-name>
    <servlet-name>UpdateTask</servlet-name>
    <servlet-class>com.Mytask.controller.UpdateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTask</servlet-name>
    <url-pattern>/UpdateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskMain</display-name>
    <servlet-name>UpdateTaskMain</servlet-name>
    <servlet-class>com.Mytask.controller.UpdateTaskMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskMain</servlet-name>
    <url-pattern>/UpdateTaskMain</url-pattern>
  </servlet-mapping>
</web-app>